.siteHeader {
  font-size: 20px;
}

.headerLinkHome {
  color: #61dafb;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.headerLinkSaved {
  color: salmon;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.headerLinkHome:hover {
  color: #61dafb;
  transform: scale(1.2);
}

.headerLinkSaved:hover {
  color: salmon;
  transform: scale(1.2);
}
